<!DOCTYPE html>
<html>
<head>
    <title>Enauiry PDF</title>
    <style>
        /* Add your styles here for the PDF */
    </style>
</head>
<style>
    td{
        padding: 5px;
        text-align: center;
    }
    th{
        padding: 5px;
        text-align: center;
    }
</style>
<body>
    <h1>Report Details</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Car Name</th>
                <th>Name</th>
                <th>Number</th>
                <th>Email</th>
                <th>Message</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for item in enquiry %}
            <tr>
                <td>{{ item.car }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.number }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.message }}</td>
                <td>{{ item.date_added }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
